* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

/* スクロールスムーズ */
html {
    scroll-behavior: smooth;
}

/* ヘッダー */
/* 共通 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 2.5rem;
    font-weight: normal;
}

/* header.global-nav */
.global-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 2rem;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border-bottom: 3px solid #5e5e5e;
    z-index: 10;
}

.global-nav .container nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.global-nav .container nav ul li a:hover {
    color: rgb(255, 128, 0);
}

.global-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.global-nav .container nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    /* 小要素間の隙間 */
    font-size: 1.5rem;
}

.home-images img {
    width: 100%;
}


/* ABOUT */
.syoukai {
    padding: 100px;
    padding-top: 200px;
    background-color: rgb(196, 226, 163);
    z-index: 5;
}

.syoukai h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}

/* 紹介の内枠 */
.syoukai-utiwaku {
    position: relative;
    padding: 20px;
    width: 800px;
    background-color: #ffc0cb;
    border-radius: 30px;
    left: 220px;
}

/* アイコン */
div.image_border {
    width: 210px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(to right bottom, #c71585, #ffc0cb);
    position: absolute;

    left: 37%;
}

div.image_circle {
    height: 205px;
    border-radius: 50%;
    background-image: url("img/image05.png");
    background-position: 50% 50%;
}

/* 自己紹介文 */
.syoukaibun {
    text-align: center;
    padding-top: 230px;
    padding-bottom: 20px;
}


/* SKILL */
.skill {
    padding-top: 150px;
}

.skill h1{
    text-align: center;
    padding-bottom: 100px;
    font-size: 40px;
}

#cards {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 315px;
    border: 1px solid lightgray;
}

.card:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
}

.picture img {
    width: 100%;
    height: 200px;
}

.description {
    width: 100%;
    height: 145px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}

.description p {
    font-size: 13px;
    color: dimgray;
}

/* １段目 */
.bure1 {
    position: relative;
    top: -35px;
    left: 230px;
}

.bure2 {
    position: relative;
    top: 5px;
    left: 230px;
}

.uni1 {
    position: relative;
    top: -35px;
    left: 135px;
}

/* ２段目 */
.puro1 {
    position: relative;
    top: 5px;
    left: 230px;
}

/* スキル一覧 */
.skiti h1 {
    position: relative;
    text-align: center;
    top: 100px;
}
table{
    padding-top: 60px;
}
table th {
    padding: 20px 10px;
}

table td {
    padding: 20px 30px;
}

.skiti {
    position: relative;
    height: 70vh;
    /* 適切な高さを指定してください */
}

.skiti table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* フッター */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* 適切な高さを指定してください */
    background-color: black;
}

small {
    /* もしくは.small-wrapperを直接指定しても構いません */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}